/* Vector */

/*.vector {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: rgba(0, 0, 0, 0.8);
}
*/

.vector {
    position: absolute;
    left: 10.94%;
    right: 10.94%;
    top: 10.94%;
    bottom: 10.94%;

    background: rgba(0, 0, 0, 0.8);
}


/* Path: CSS.css */