@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
body {
  margin: 0 128px;
  background-image: url("/app/public/img/CJR_background_logo.png");
  background-repeat: no-repeat;
  height: auto; /* must set a specified height */
  background-position: 25% 75%;
  background-color: #111e3e;
  flex-shrink: 0;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.navbar{
  height: 3rem;
  width: 100%;
  position: absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  background-color: #8BC34A;
;
}
.navbar img{
  width:4.6rem;
}   
.nav_logo{
  width:6rem;
  height:2rem;
  border-radius:1rem;
  margin: 0.5rem 1rem;   
  background-color:aliceblue;
  border:transparent; 
  float: left;
}
.entrar{   
  background-color:#222E50;
  border:transparent; 
  float: right;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0.5rem 1rem; 
  font-family: 'Roboto', sans-serif;
  color: #d9d9d9;
  transition-duration: 0.4s;
}

.entrar:hover{
  background-color: #151D33;
}

.criarconta{   
  background-color:transparent;
  border:transparent; 
  float: right;
  text-decoration: none;
  padding:0.4rem 1rem;
  margin: 0.5rem -0.5rem;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;
}

.criarconta:hover{
  color: #3f0eaa;
}

/* aqui acaba o style da navbar e começa o do resto */

.botao {
  margin-top: 4%;
  width: 60%;
  height: 3rem;
  color: #1e3b8b;
  background: #fcf9f9;
  border: 1px solid #c9c5c5;
  border-radius: 15px;
  text-align: center;
  user-select: none;
  position: absolute;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
  font-weight: 700;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background: #27c219;
  color: #fdf6f6;
  transition: 0.5s;
}

/* fim do style do botao*/

.text-center {
  text-align: center;
  text-align-last: center;
  text-anchor: middle;
}

.col-auto {
  width: auto;
  position: static;
  padding: 0px;
  margin: 2%;
}

.input_box {
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 1%;
  text-align: center;
  position: relative;
  width: 28%;
  min-width: 20rem;
  height: 100%;
  margin-top: 4rem;
  margin-left: 50%;
  align-items: center;
  background: #222e50;
  border-radius: 10px;
  /* Rectangle 10 */
}

.login_box {
  padding: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

  align-items: center;
  background: #222E50;
  border-radius: 10px;
  /* Rectangle 10 */
}

input {
  border: 1px solid #00040e;
  padding-left: 10%;
  margin-left: auto;
  width: 90%;
  height: 3rem;
  left: 3rem;
  top: 20rem;
  background: #d9d9d9;
  border-radius: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: #111e3e;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

::placeholder {
  color: #111e3e;
  opacity: 0.7;
  text-align: start;
  margin: auto;
}

input:focus {
  background: #8aa3e2;
}

input:hover {
  background: #7e8bb8;
}

.text-start {
  text-align: start;
}

.text-light {
  color: #ffffff;
}

.text-blue-link {
  color: #03050bba;
  border-radius: 15px;
}

div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: #000000;
}

a, p {
  font-weight: 500;
  :hover {
    color: #eceff6ba;
  }
}

.text-indent-20px {
  text-indent: 20px;
}
.col-form-label {
  margin-left: 20%;
}


/* Perfil e feed usuário */


.postList {
  font: 15px Roboto, sans-serif;
  margin-top: 1rem;
  background: #111E3E;
  width: 646px;  
  position: relative;
  border-left: 0.50px #7E7E7E solid; 
  border-right: 0.50px #7E7E7E solid;

}

.FeedAreaStroke{
  background: #111E3E;
  width: 646px; height: 935px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.JoazinGamer{
  width: 142px; height: 16px; left: 4px; top: 164px; position: absolute; color: white; font-size: 20px; font-family: Roboto, sans-serif; font-weight: 700; word-wrap: break-word
  }

.container {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 10rem 1rem;

}
.post {
  margin: 1rem 1rem;
  padding: 16px;
  border-radius: 32px;
  background: #222E50;
  left: 8px; top: 598px;
  
}

.postBackground {
  background: #222E50;
  width: 630px; height: 362px;  position: absolute; background: #222E50; border-radius: 32px"
}

.postText {
  margin-left: 15%;
  line-height: 23px; 
  color: #FFFFFF;
  cursor: pointer;
}
