<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app/public/css/modal_style.css">
    <script src="/app/public/js/modal_script.js" defer></script>
    <title>Modal</title>
</head>
<body>
    <button id="open-modal">Abrir</button>
    <div id="fade" class="hide"></div>
    <div id="modal" class="hide">
        <div class="modal-body">
            <div class="content-header">
                <button type="button" class="content-header-button"><img src="/app/public/img/B.png"></button>
                <button type="button" class="content-header-button"><img src="/app/public/img/italico.png"></button>
                <button type="button" class="content-header-button"><img src="/app/public/img/H.png"></button>
                <button type="button" class="content-header-button"><img src="/app/public/img/anexar.png"></button>
                <button type="button" class="content-header-button"><img src="/app/public/img/imagem.png"></button>
                <button type="button" class="content-header-button"><img src="/app/public/img/interrogação.png"></button>
            </div>
            <div class="content-body">
                <div class="postinput">
                    <textarea maxlength="500"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="close-modal">Cancelar</button>
            <button id="publish">Publicar</button>
        </div>
    </div>
</body>
</html> 