<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app/public/css/style.css">
    <title>Posts</title>

</head>
<body style="background-image: none;">
<div class="navbar">
    <button class="button nav_logo" disabled type="button"> 
        <img src="/app/public/img/logo.png" alt="logo">  
    </button>
    <a class="entrar" href="teladelogin.html">Entrar</a>
    <a class="criarconta" href="telacadastro.html">Criar Conta</a> 
</div>


  

</body>
</html>