<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app/public/css/style.css">
    <title>Login</title>

</head>
<body style="background-image: none;">
<div class="navbar">
    <button class="button nav_logo" disabled type="button"> 
        <img src="/app/public/img/logo.png" alt="logo">  
    </button>
    <a class="entrar" href="teladelogin.html">Entrar</a>
    <a class="criarconta" href="telacadastro.html">Criar Conta</a> 
</div>



<div class="container">

    <div class="col-form-label">
        <div class="row">
            <div class="col-12">
            </div>
            <form class="login_box">
                <p>
                    <a class="text-blue-link" href="#" target="_blank">
                        <img src="/app/public/img/wildcard_avatar.png" alt="logo" width="180" height="135"></a>
                </p>
                
                <div class="col-auto ">
                    <label for="inputEmail2" class="visually-hidden"></label>
                    <input type="text" class="form-control" id="Email" placeholder="Email"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                </div>
                <p> </p>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden"></label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Senha" required><span class="validity"></span>
                </div>
                <p> </p>
                <p>
                    <a class="text-blue-link" href="telarecuperasenha.html"> Esqueceu a senha?</a>
                </p>
                <div class="col-auto">
                    <button type="submit" class="botao">Entrar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

</body>
</html>