<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type="text/css" href="/app/public/css/teste.css" />
        <title>Usuário</title>
    </head>

    <body>
        <div class="navbar">
            <button class="button nav_logo" disabled type="button"> 
                <img src="/app/public/img/logo.png" alt="logo">  
            </button>
            <img class="Image1" style="width: 2rem; height: 2rem; flex-shrink: 0; border-radius: 50px; margin-right: auto;" src="https://via.placeholder.com/48x48"></div>
        </div>
        <div class=" flex-container">
        <div class="Feed">
            <div class="MdiOfficeBuilding">
              <div class="vector"></div>
            </div>
            <div class="EvaEmailOutline">
              <div class="Evaemailoutline2"></div>
            </div>
            <div class="FeedAreaStroke"></div>
            <div class="InteractionBar"></div>
            <div class="PostBackground"></div>
            <div class="InteractionBar"></div>
            <div class="PostOwner">
              
            
              <div class="JoazinGamer">Nome de perfil</div>
              <div class="ProfilePicture">
                <div class="Frame1"></div>
                <img class="CustomImage" style="width: 3.75rem; height: 3.75rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48" />
              </div>
            </div>
            <div class="JoazinGamer23CjrOrgBr" style="color: aliceblue;">Joazin.gamer.23@cjr.org.br</div>
            <div class="Assessora">Assessora</div>
            
            <div class="BotaoDeLogin">
              <div class="Rectangle9"></div>
              <div class="Entrar">Editar Perfil<br/></div>
            </div>
            <div class="PublicaEs">Publicações</div>
            
            <div class="PostBackground"></div>
            
            <div class="Group1">
              <div class="PostOwner">
                <div class="ProfilePicture">
                  <div class="Frame1"></div>
                  <img class="Image1" style="width: 3.75rem; height: 3.75rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48"/>
                </div>
                <div class="Text">
                  <div class="data">17 de mar</div>
                  <div class="JoazinGamer">Joazin gamer</div>
                </div>
                
                
              </div>
              
              <div class="loremipsum">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus laborum eligendi a error adipisci repudiandae quos praesentium nihil distinctio ea? Tempora ipsa optio saepe nam natus fugit nemo ex distinctio.</div>
            </div>
            
              
            
              <div class="PostBackground"></div>
              <div class="Sangue1"></div>
              <div class="PostOwner">
                <div class="ProfilePicture">
                  <div class="Frame1"></div>
                  <img class="Image1" style="width: 3.75rem; height: 3.75rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48" />
                </div>
                <div class="Text">
                  <div class="data">17 de mar</div>
                  <div class="JoazinGamer">Joazin gamer</div>
                </div>
                
              </div>
              <img class="Sangue2" style="border-radius: 10px;" src="https://via.placeholder.com/455x231" />
          </div>
          </div>
    </body>

</html>