<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type="text/css" href="/app/public/css/teste.css" />
        <title>Usuário</title>
    </head>

    <body>
        <div class="navbar">
            <button class="button nav_logo" disabled type="button"> 
                <img src="/app/public/img/logo.png" alt="logo">  
            </button>
            
        </div>
        <a href="/app/views/user.html">
          <img class="Image1" style="width: 2.65rem; height: 2.65rem; flex-shrink: 0; border-radius: 50px; position: absolute; top: 0; right: 0;" src="https://via.placeholder.com/48x48"></div>

        </a>



        <div class=" flex-container">
        <div class="Feed">
            <div class="MdiOfficeBuilding">
              <div class="vector"></div>
            </div>
            <div class="EvaEmailOutline">
              <div class="Evaemailoutline2"></div>
            </div>
            <div class="FeedAreaStroke"></div>
            <div class="InteractionBar"></div>

            <div class="containerhorizontal">
              <div class="InteractionBar">
                  
            <div class="BotaoDeLogin">
              <div class="Rectangle9"></div>
              <div class="Entrar">Editar Perfil<br/></div>
              </div>
                <div class="PostOwner">
                
              
                  
                  <div class="ProfilePicture">
                    <div class="Frame1"></div>
                   
                    <img class="CustomImage" style="width: 7rem; height: 7rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48" />
                  </div>
                  <div class="JoazinGamer">JoaozinGamer</div>
                </div>
                <div class="JoazinGamer23CjrOrgBr">Joazin.gamer.23@cjr.org.br</div>
                <div class="Assessora">Assessora</div>
                <br>
                <div class="line1"></div>
                <br>
                <div class="PublicaEs">Publicações</div>
                <br>
                <div class="line1"></div>
                <br>
                <br>
                <br>
              </div>
            </div>
          
            <br><br><br><br><br><br><br>
            <div class="container">
              <div class="PostBackground">
                <div class="Group1">
                  <div class="PostOwner">
                    <div class="ProfilePicture">
                      <div class="Frame1"></div>
                      <img class="Image1" style="width: 3.5rem; height: 3.5rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48"/>
                    </div>
                    <div class="Text">
                      <div class="data">17 de mar</div>
                      <div class="JoazinGamer">Joazin gamer</div>
                    </div>
                    
                    
                  </div>
                  
                  <div class="loremipsum">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus laborum eligendi a error adipisci repudiandae quos praesentium nihil distinctio ea? Tempora ipsa optio saepe nam natus fugit nemo ex distinctio.</div>
                  
                </div>  
              </div>
              
            </div>
              <br>
              <div class="container">
                <div class="PostBackground">
                  <div class="Group1">
                    <div class="PostOwner">
                      <div class="ProfilePicture">
                        <div class="Frame1"></div>
                        <img class="Image1" style="width: 3.5rem; height: 3.5rem; flex-shrink: 0;" src="https://via.placeholder.com/48x48"/>
                      </div>
                      <div class="Text">
                        <div class="data">17 de mar</div>
                        <div class="JoazinGamer">Joazin gamer</div>
                      </div>
                      
                      
                    </div>
                    
                    <div class="loremipsum">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus laborum eligendi a error adipisci repudiandae quos praesentium nihil distinctio ea? Tempora ipsa optio saepe nam natus fugit nemo ex distinctio.</div>
                    
                  </div>  
                </div>
                
              </div>
              
            
              




            </div>
              
              
              
          </div>
          </div>
    </body>

</html>